@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #E00707;
  --focusVisible-color: rgb(251, 71, 71);
  --secondary-color: white;
  --trasparent-color: #ffffff77;
  --hoverlink-color: #ffffff1c;
  --shadow-color: rgba(151, 151, 151, 0.445);
  --grey-color: #dcdcdc;
}

body {
  font-family: 'Exo 2';
}

h1 {
  text-transform: uppercase;
}

.fw {
  font-weight: 600 !important;
}



input {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid var(--grey-color);
  box-shadow: 0px solid var(--transparent-color) !important;
  transition: border-color 0.3s ease-in-out;
}


/* Estilos para el input cuando está enfocado */
input:focus {
  border-bottom: 2px solid var(--primary-color) !important;
  transition: border-color 0.3s ease-in-out;
}

input[type="checkbox"] {
  border: 1px solid var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
}

/* Estilos para el marcador del checkbox cuando está activo */
input[type="checkbox"]:checked {
  background-color: red !important;
  transition: all 0.3s ease-in-out;
}

/* Estilos para los botones */
.btn {
  border-radius: 3px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  transition: all 0.3s ease-in-out;
}

/* Estilos para los botones primarios */
.btn-primary {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  font-weight: 700;
}

.btn-primary:focus-visible {
  background-color: var(--focusVisible-color);
  box-shadow: 0px var(--primary-color) !important;
  border-color: var(--focusVisible-color) !important;
}

.btn-primary:hover {
  color: var(--primary-color);
  background-color: var(--transparent-color);
  border: 2px solid var(--primary-color);
}

.btn-primary:active {
  color: var(--primary-color) !important;
  background-color: var(--transparent-color) !important;
  border: 2px solid var(--primary-color) !important;
}

/* Nav Style */

.border-primary {
  border-color: var(--primary-color) !important;
  transition: 0.5s all;

}

.border-primary:hover {
  background-color: #00000014;
  border-radius: 10px;
  transition: 0.5s all;
}


/* Login Style */
.bg-login {
  background-size: cover;
  background-position: right !important;
}

.logo_bg {
  max-width: 400px;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.337);
  /* Ajusta el nivel de opacidad aquí (0.5 = 50%) */
}

.col-md-7.animate,
.col-md-5.animate {
  animation: col-md-7-animation 0.5s forwards;
  animation: col-md-5-animation 0.5s forwards;
  opacity: 0;
}

/* Animación para la primera columna */
@keyframes expandFirstColumn {
  0% {
    width: 100%;
  }

  100% {
    width: 58.333333%;
  }
}

/* Animación para la segunda columna */
@keyframes fadeInSecondColumn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Aplica la animación a la primera columna */
#first-column {
  animation: expandFirstColumn 0.5s ease-out forwards;
  animation-delay: 1.0s;
  /* Retraso de 2 segundos */
}

/* Aplica la animación a la segunda columna */
#second-column {
  animation: fadeInSecondColumn 0.5s ease-out forwards;
  animation-delay: 1.5s;
  /* Retraso de 2.5 segundos */
}




/* Tablas */

.modul {
  width: 80%;
  margin-top: 5vh !important;  
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.modul-lg {
  width: 98%;
  margin-top: 10vh !important;  
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.modul th,
.modul td {
  border: 1px solid #e2e8f0;
  padding: 8px;
  text-align: left;
}

.modul th {
  background-color: #edf2f7;
  color: #4a5568;
}

.modul tr:nth-child(even) {
  background-color: #f7fafc;
}

.modul tr:hover {
  background-color: #e2e8f0;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .modul,
  .modul thead,
  .modul tbody,
  .modul th,
  .modul td,
  .modul tr {
    display: block;
  }

  .modul thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .modul tr {
    border: 1px solid #e2e8f0;
  }

  .modul td {
    border: none;
    border-bottom: 1px solid #e2e8f0;
    position: relative;
    padding-left: 50%;
  }

  .modul td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .modul td:nth-of-type(1):before {
    content: "Columna 1";
  }
  .modul td:nth-of-type(2):before {
    content: "Columna 2";
  }
  /* ... y así sucesivamente, para cada columna en tu tabla */
}

/* Tailwind Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
}

.table th {
  background-color: #edf2f7;
  color: #4a5568;
  font-weight: 500;
  text-align: left;
}

.table td {
  background-color: #fff;
}

.table tr:nth-child(even) {
  background-color: #f7fafc;
}

.table tr:hover {
  background-color: #e2e8f0;
}
.create-input {
  border: 0.5px solid #d8e2eb !important;
  border-radius: 5px;
  transition: 0.5s;
}

.create-input:hover {
  border: 0.5px solid var(--primary-color) !important;
  border-bottom: 0.5px solid var(--primary-color) !important;
  transition: 0.5s;
}